<h2>Conditional Row Edit, Delete and CSS Class</h2>
<db-angular-tree-grid [data]="data" [configs]="configs"></db-angular-tree-grid>
<p> If some rows in the grid shouldn't be edited or deleted then <span class="code">row_edit_function</span> and 
    <span class="code">row_delete_function</span> methods can
    be set at the grid level. These methods will get the respected record(row data) as an argument.
</p>
<h3>Row Edit Function</h3>
<pre class="code">
    <span class="tr first-row"><span class="th"></span><code>{{"row_edit_function: function(rec) {"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"  if (rec.parent === 0) {"}}</code></span>
    <span class="tr "><span class="th"></span><code>{{"    return false;"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"  } else {"}}</code></span>
    <span class="tr "><span class="th"></span><code>{{"    return true;"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"  }"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"}"}}</code></span>
</pre>
<h3>Row Delete Function</h3>
<pre class="code">
    <span class="tr first-row"><span class="th"></span><code>{{"row_delete_function: function(rec) {"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"  if (rec.parent === 0) {"}}</code></span>
    <span class="tr "><span class="th"></span><code>{{"    return false;"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"  } else {"}}</code></span>
    <span class="tr "><span class="th"></span><code>{{"    return true;"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"  }"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"}"}}</code></span>
</pre>
<p> If some rows need to be highlighted in the grid then <span class="code">row_class_function</span> 
    function can be used.
</p>
<h3>Row Class Function</h3>
<pre class="code">
    <span class="tr first-row"><span class="th"></span><code>{{"row_class_function: function(rec) {"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"  return 'row-custom';"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"}"}}</code></span>
</pre>
<div style="margin: 20px 0 0 0;">Please check the Full code below.</div>
<iframe #iframe type="text/javascript" width="100%" height="400px" style="margin: 10px 0 0 0;border:0">
</iframe>