<h2>Add, Edit and Delete Resolver Component</h2>
<db-angular-tree-grid [data]="data" [configs]="configs" (rowdelete)="onRowDelete($event)" (rowsave)="onRowSave($event)"
    (rowadd)="onRowAdd($event)">
</db-angular-tree-grid>
<p>If Add, Edit and Delete need to be resolved after confirmation from backend then 
    <span class="code">resolve_add</span>, <span class="code">resolve_edit</span> and
    <span class="code">resolve_delete</span> need to be set to true under <span class="code">actions</span> config. 
    And then listen to the <span class="code">rowadd</span>, <span class="code">rowsave</span>
     and <span class="code">rowdelete</span> events. See below for more details.
</p>
<h3>Action</h3>
Below Configuration needs to be enabled.
<pre class="code">
    <span class="tr first-row"><span class="th"></span><code>{{"actions: {"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"    resolve_add: true,"}}</code></span>
    <span class="tr "><span class="th"></span><code>{{"    resolve_delete: true,"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"    resolve_edit: true"}}</code></span>
    <span class="tr "><span class="th"></span><code>{{"}"}}</code></span>
</pre>
<h3>Resolve</h3>
<p>This is how action needs to be resolved. Then only modified record will be reflected in the grid.</p>
<pre class="code">
    <span class="tr first-row"><span class="th"></span><code>{{"onRowSave($e) {"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"    const data = $e.data;"}}</code></span>
    <span class="tr"><span class="th"></span><code>{{"    setTimeout(() => {"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"        $e.resolve();"}}</code></span>
    <span class="tr"><span class="th"></span><code>{{"    }, 1000);"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"}"}}</code></span>
</pre>
<div style="margin: 20px 0 0 0;">Please check the Full code below.</div>
<iframe #iframe type="text/javascript" width="100%" height="400px" style="margin: 10px 0 0 0;border:0"></iframe>