
<div class="body">
  <div class="left-panel">
    <ul>
      <li>
        <a routerLink="basic_tree_grid" routerLinkActive="selected">Basic Tree Grid</a>
      </li>
      <li>
        <a routerLink="add_edit_delete" routerLinkActive="selected">Add, Edit and Delete</a>
      </li>
      <li>
        <a routerLink="/summary_row" routerLinkActive="selected">Summary/Footer Row</a>
      </li>
      <li>
        <a routerLink="cond_row_edit" routerLinkActive="selected">Conditional Row Edit, Delete and CSS Class</a>
      </li>
      <li>
        <a routerLink="custom_view_component" routerLinkActive="selected">Custom View Component</a>
      </li>
      <li>
        <a routerLink="custom_edit_component" routerLinkActive="selected">Custom Editor Component</a>
      </li>
      <li>
        <a routerLink="resolve_row_add" routerLinkActive="selected">Resolve Row Add/Edit/Delete</a>
      </li>
      <li>
        <a routerLink="filter_column" routerLinkActive="selected">Custom Filter</a>
      </li>
      <li>
        <a routerLink="selection" routerLinkActive="selected">Selection</a>
      </li>
      <li>
        <a routerLink="dynamic_children" routerLinkActive="selected">Dynamic Children</a>
      </li>
      <li>
        <a routerLink="specific_expand_collapse" routerLinkActive="selected">Specific Row Collapse/Expand</a>
      </li>
      <li>
        <a routerLink="subgrid" routerLinkActive="selected">Subgrid</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>