/* Add application styles & imports to this file! */

body {
  margin: 0;
  font-size: 17px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Arial,
    sans-serif;
}

h2 {
  font-weight: 500;
}

p {
  line-height: 1.6;
}

button {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid gray;
  padding: 6px 10px;
  cursor: pointer;
}

pre.prettyprint {
  border-color: #d1cece !important;
}

.short-code {
  display: inline-block;
  background-color: #f9f9f9;
}

button:hover {
  border-color: #01475b;
}

span.code {
  padding: 2px 6px;
  color: #1f1f1f;
  background-color: #f0f0f0;
  border-radius: 6px;
  font-size: 1rem;
}

/* Bare bones style for the desired effect */
pre.code {
  display: table;
  table-layout: fixed;
  width: 100%; /* anything but auto, otherwise fixed layout not guaranteed */
  white-space: pre-wrap;
}
pre.code::before {
  counter-reset: linenum;
}
pre.code span.tr {
  display: table-row;
  counter-increment: linenum;
}
pre.code span.th {
  /* used for line numbers */
  display: table-cell;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
pre.code span.th::before {
  content: counter(linenum);
  text-align: right;
  display: block;
}
pre.code span.th {
  width: 4em; /* or whatever the desired width of the numbers column is */
}
pre.code code {
  display: table-cell;
}

/* Additional styling demo */
pre.code {
  border: solid 1px black;
  width: auto;
}
pre.code span.th {
  background: #f0f0f0;
  padding: 3px;
  padding-top: 0px;
  border-right: solid 1px silver;
  border-top: solid 1px silver;
}
pre.code span.th::before {
  font-size: 90%;
  color: #999;
}
pre.code span.tr.first-row span.th {
  border-top: none;
}
pre.code code {
  padding: 3px;
}
pre.code span.e code {
  background: #f0f8ff;
}
pre.code span.th::before {
  content: counter(linenum) ".";
}
div.code {
  overflow: auto;
}
